.main {
    width: 50%;
    padding: 48px 120px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__title {
    font-weight: 500;
    font-size: 48px;
}

.main__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: baseline;
    font-size: 18px;
    font-weight: 700;
}

.main__list--item {
    border: 2px solid black;
    padding: 16px 32px;
    border-radius: 50px;
    margin: 18px 32px 18px 0;
    transition: all 0.2s ease-in-out;
}

.main__list--item:hover {
    color: white;
    cursor: pointer;
}

.sad {
    color: #C0C781;
    border-color: #C0C781;
}

.sad:hover {
    background-color: #C0C781;
}

.adventurous {
    color: #841C26;
    border-color: #841C26;
}

.adventurous:hover {
    background-color: #841C26;
}

.excited {
    color: #E9806E;
    border-color: #E9806E;
}

.excited:hover {
    background-color: #E9806E;
}

.afraid {
    color: #477890;
    border-color: #477890;
}

.afraid:hover {
    background-color: #477890;
}

.nostalgic {
    color: #5B6C5D;
    border-color: #5B6C5D;
}

.nostalgic:hover {
    background-color: #5B6C5D;
}

.happy {
    color: #9067C6;
    border-color: #9067C6;
}

.happy:hover {
    background-color: #9067C6;
}

.lonely {
    color: #C59B76;
    border-color: #C59B76;
}

.lonely:hover {
    background-color: #C59B76;
}

.main__text {
    font-size: 24px;
    font-weight: 300;
    width: 80%;
    margin: 24px 0;
    line-height: 1.5;
}