.mood-page__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    height: 800px;
    line-height: 1.5;
}

.mood-page__content--img {
    width: 20%;
    margin: 0 16px;
}

.mood-page__content--text {
    margin-left: 24px;
}

.mood-page__content--text h3 {
    font-size: 28px;
    margin-bottom: 24px;
}