.arrow {
    margin: 36px;
    font-size: 24px;
    border: none;
    background-color: transparent;
}

.arrow:hover {
    cursor: pointer;
}

.mood-sad {
    background-color: #C0C781;
}

.mood-happy {
    background-color: #9067C6;
}

.mood-lonely {
    background-color: #C59B76;
}

.mood-excited {
    background-color: #E9806E;
}

.mood-adventurous {
    background-color: #841C26;
}

.mood-nostalgic {
    background-color: #5B6C5D;
}

.mood-afraid {
    background-color: #477890;
}

button.disabled {
    display: none;
}