/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************************************************************************/
html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 1;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
}

.img1 {
  background-image: url("./img/leone-venter-VieM9BdZKFo-unsplash.jpg");
  background-position: right;
}

.img2 {
  background-image: url("./img/tim-chow-9IcKPSQ9G5Q-unsplash.jpg");
  background-position: top;
}

.img3 {
  background-image: url("./img/Group-1.jpg");
  background-position: right;
}

.img4 {
  background-image: url("./img/ben-neale-29w9FiMWSr8-unsplash.jpg");
  background-position: right;
}

.img5 {
  background-image: url("./img/david-van-dijk-3LTht2nxd34-unsplash.jpg");
  background-position: right;
}

@media screen and (max-width: 1200px) {
  .img5 {
    background-position: center;
  }
}

@media screen and (max-width: 900px) {
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.8;
  }
}

@media screen and (max-width: 700px) {
  body::after {
    opacity: 0.9;
  }

  .img2 {
    background-position: inherit;
  }
}
